{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container-fluid col-4 p-5 my-4 rounded bg-primary text-light">
        <h1 class="text-secondary text-center">Register</h1>

        {{ form_start(registrationForm) }}
            <div class="">{{ form_row(registrationForm.email) }}</div>
            <div class="">{{ form_row(registrationForm.lastname) }}</div>
            <div class="">{{ form_row(registrationForm.firstname) }}</div>
            <div class="">{{ form_row(registrationForm.statut) }}</div>
            <div class="">{{ form_row(registrationForm.plainPassword) }}</div>

            <button type="submit" class="btn btn-secondary mt-2 text-white center-block">Register</button>
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}
